.inf_skills
{
    height: 95%;
    width: 70%;
    background-color: rgba(47, 43, 42, 0.415);
    position: absolute;
    margin: 1%;
    display: flex;
    display: none;
}
.inf_skills-right
{
    width: 60%;
    margin: 2%;
}
.inf_skills-left
{
    width: 40%;
    margin: 2%;
}
.inf_skills-top
{
    height: 50%;
    margin: 2%;
}
.inf_skills-bottom
{
    height: 50%;
    margin: 2%;
}