.font1
{
    color: aliceblue;
    font-size: 160px;
}
.font2
{
    color: rgb(244, 146, 18);
    font-size: 60px;
}
.font3
{
    color: rgb(255, 0, 115);
    font-size: 25px;
}
.font4
{
    color: rgb(255, 0, 21);
    font-size: 20px;
}