.fontD1
{
    color: aliceblue;
    font-size: 140px;
}
.fontD2
{
    color: rgb(244, 146, 18);
    font-size: 60px;
}
.fontD3
{
    color: rgb(255, 0, 4);
    font-size: 30px;
}
.fontD4
{
    color: rgb(255, 0, 234);
    font-size: 20px;
}