.inf_experience
{
    height: 95%;
    width: 70%;
    background-color: rgba(47, 43, 42, 0.415);
    position: absolute;
    margin: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    display:none;
}
